#!/bin/bash

# SOLVATE Instalation
cd $HOME/.bin && rm -rf solvate && git clone https://github.com/otaviolsantana/solvate.git && cp solvate.profile solvate/ && chmod +x solvate/solvate* solvate/modules/*
#d $HOME/.bin && rm -rf solvate && unzip solvate-main.zip && mv solvate-main solvate       && cp solvate.profile solvate/ && chmod +x solvate/solvate* solvate/modules/*

# SOLVATE Definitions
export HOME_SOLVATE=$HOME/.bin/solvate && export HOME_PROGRAM=$HOME/.progs

# Instaling dependencies
# chmod +x $HOME_SOLVATE/nodes/packmol/packmol.install && $HOME_SOLVATE/nodes/packmol/packmol.install
# chmod +x $HOME_SOLVATE/nodes/qforce/qforce.install   && $HOME_SOLVATE/nodes/qforce/qforce.install

# Configuring dependencies
GSN=g09 ; GVW=gv5 ; ORC=orca ; XTB=xtb ; GMX=gmx ; VMD=vmd ; PCK=packmol ; QFC=qforce

rm -rf $HOME_SOLVATE/suite/gsn     && ln -sf $HOME_PROGRAM/$GSN $HOME_SOLVATE/suite/gsn
rm -rf $HOME_SOLVATE/suite/gvw     && ln -sf $HOME_PROGRAM/$GVW $HOME_SOLVATE/suite/gvw
rm -rf $HOME_SOLVATE/suite/orca    && ln -sf $HOME_PROGRAM/$ORC $HOME_SOLVATE/suite/orca
rm -rf $HOME_SOLVATE/suite/xtb     && ln -sf $HOME_PROGRAM/$XTB $HOME_SOLVATE/suite/xtb
rm -rf $HOME_SOLVATE/suite/gmx     && ln -sf $HOME_PROGRAM/$GMX $HOME_SOLVATE/suite/gmx
rm -rf $HOME_SOLVATE/suite/vmd     && ln -sf $HOME_PROGRAM/$VMD $HOME_SOLVATE/suite/vmd
rm -rf $HOME_SOLVATE/suite/packmol && ln -sf $HOME_PROGRAM/$PCK $HOME_SOLVATE/suite/packmol
rm -rf $HOME_SOLVATE/suite/qforce  && ln -sf $HOME_PROGRAM/$QFC $HOME_SOLVATE/suite/qforce

# Initialize configurations
source $HOME_SOLVATE/solvate.profile
