#!/bin/bash

# SOLVATE Instalation

echo "Adjusting programs permissions..." ; chmod +x solvate* modules/* ; INIFOLDER=$PWD

# Dependencies instalation

# echo "Instaling dependencies: Q-force..." ; chmod +x nodes/packmol/packmol.install ; cd nodes/packmol ; . packmol.install /opt/chemprogs/packmol ; cd $INIFOLDER
# echo "Instaling dependencies: packMol..." ; chmod +x nodes/qforce/qforce.install   ; cd nodes/qforce  ; . qforce.install  /opt/chemprogs/qforce  ; cd $INIFOLDER

# Configuring dependencies

echo "Configuring suite dependencies: Gaussian..." ; rm -rf suite/gsn     && ln -sf /opt/chemprogs/gsn     suite/gsn
echo "Configuring suite dependencies: GaussView  " ; rm -rf suite/gvw     && ln -sf /opt/chemprogs/gvw     suite/gvw
echo "Configuring suite dependencies: ORCA..."     ; rm -rf suite/orca    && ln -sf /opt/chemprogs/orca    suite/orca
echo "Configuring suite dependencies: xTB..."      ; rm -rf suite/xtb     && ln -sf /opt/chemprogs/xtb     suite/xtb
echo "Configuring suite dependencies: GROMACS..."  ; rm -rf suite/gmx     && ln -sf /opt/chemprogs/gmx     suite/gmx
echo "Configuring suite dependencies: VMD..."      ; rm -rf suite/vmd     && ln -sf /opt/chemprogs/vmd     suite/vmd
echo "Configuring suite dependencies: OpenMPI..."  ; rm -rf suite/openmpi && ln -sf /opt/chemprogs/openmpi suite/openmpi
echo "Configuring suite dependencies: PackMol..."  ; rm -rf suite/packmol && ln -sf /opt/chemprogs/packmol suite/packmol
echo "Configuring suite dependencies: Q-Force..."  ; rm -rf suite/qforce  && ln -sf /opt/chemprogs/qforce  suite/qforce

# Initializing configurations

source solvate.profile

# Initializing configurations

echo "Solvate instalation completed!"
