#!/bin/bash

# SOLVATE Instalation

echo "Adjusting programs permissions..." ; chmod +x solvate* modules/*

# Dependencies instalation

# WRK_FLD=$PWD
# echo "Instaling dependencies: Q-force..." ; chmod +x nodes/packmol/packmol.install ; cd nodes/packmol ; . packmol.install /opt/chemprogs/packmol ; cd $WRK_FLD
# echo "Instaling dependencies: packMol..." ; chmod +x nodes/qforce/qforce.install   ; cd nodes/qforce  ; . qforce.install  /opt/chemprogs/qforce  ; cd $WRK_FLD

# Defining suite directories

INI_SVT=/opt/solvate

LNK_GSN=$INI_SVT/suite/gsn     # Gaussian
LNK_GVW=$INI_SVT/suite/gvw     # GaussView
LNK_ORC=$INI_SVT/suite/orca    # ORCA
LNK_XTB=$INI_SVT/suite/xtb     # xTB
LNK_GMX=$INI_SVT/suite/gmx     # GROMACS
LNK_VMD=$INI_SVT/suite/vmd     # VMD
LNK_MPI=$INI_SVT/suite/openmpi # OpenMPI
LNK_PCK=$INI_SVT/suite/packmol # PackMol
LNK_QFC=$INI_SVT/suite/qforce  # Q-Force

# Defining instalation directories

DIR_GSN=/opt/gsn               # Gaussian
DIR_GVW=/opt/gvw               # GaussView
DIR_ORC=/opt/orca              # ORCA
DIR_XTB=/opt/xtb               # xTB
DIR_GMX=/opt/gmx               # GROMACS
DIR_VMD=/opt/vmd               # VMD
DIR_MPI=/opt/openmpi           # OpenMPI
DIR_PCK=/opt/packmol           # PackMol
DIR_QFC=/opt/qforce            # Q-Force

# Configuring dependencies

echo "Configuring suite dependencies: Gaussian..." ; rm -rf $LNK_GSN ; ln -sf $DIR_GSN $LNK_GSN
echo "Configuring suite dependencies: GaussView  " ; rm -rf $LNK_GVW ; ln -sf $DIR_GVW $LNK_GVW
echo "Configuring suite dependencies: ORCA..."     ; rm -rf $LNK_ORC ; ln -sf $DIR_ORC $LNK_ORC
echo "Configuring suite dependencies: xTB..."      ; rm -rf $LNK_XTB ; ln -sf $DIR_XTB $LNK_XTB
echo "Configuring suite dependencies: GROMACS..."  ; rm -rf $LNK_GMX ; ln -sf $DIR_GMX $LNK_GMX
echo "Configuring suite dependencies: VMD..."      ; rm -rf $LNK_VMD ; ln -sf $DIR_VMD $LNK_VMD
echo "Configuring suite dependencies: OpenMPI..."  ; rm -rf $LNK_MPI ; ln -sf $DIR_MPI $LNK_MPI
echo "Configuring suite dependencies: PackMol..."  ; rm -rf $LNK_PCK ; ln -sf $DIR_PCK $LNK_PCK
echo "Configuring suite dependencies: Q-Force..."  ; rm -rf $LNK_QFC ; ln -sf $DIR_QFC $LNK_QFC

# Initializing configurations

source solvate.profile

# Initializing configurations

echo "Solvate instalation completed!"
